<body>
    <div class="container">
        <div class="image-card">
          <img src="cupcakes.jpg" alt="Gateau">
          <p>Passer une commande</p>
        </div>
        <div class="image-card">
          <img src="gateau_ours.jpg" alt="Cupcakes">
          <p>Visiter le catalogue</p>
        </div>
      </div>

      <footer>
        <p>
          Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
        </p>
      </footer>
</body>

  

  