<body>
    <div class="container">
        <div class="image-card">
          <a routerLink="/passer-commande"> 
            <img src="cupcakes.jpg" alt="Gateau">
          </a>
          <p>Passer une commande</p>
        </div>
        <div class="image-card">
          <a href="#"><img  src="gateau_ours.jpg" alt="Cupcakes"></a>
          <p>Visiter le catalogue</p>
        </div>
      </div>

      <footer>
        <p>
          Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. <br>
          Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.
        </p>
      </footer>
</body>

  

  