<div class="gateau-container">
    <div class="gateau-card">
      <img src="nice_cake.jpg" alt="Gâteau bleu">
      <h3>Gâteau bleu</h3>
      <p>
        Gâteau bleuâteau bleuâteau bleuâteau bleu<br>
        Nombre de parts 12 pour 70$
      </p>
      <button class="choisir-btn">Choisir</button>
    </div>
  
    <div class="gateau-card">
      <img src="blackwhite_cake.jpg" alt="Gâteau bleu">
      <h3>Gâteau bleu</h3>
      <p>
        Gâteau bleuâteau bleuâteau bleuâteau bleu<br>
        Nombre de parts 12 pour 70$
      </p>
      <button class="choisir-btn">Choisir</button>
    </div>
    
    <div class="gateau-card">
        <img src="gateau_ours.jpg" alt="Gâteau bleu">
        <h3>Gâteau bleu</h3>
        <p>
            Gâteau bleuâteau bleuâteau bleuâteau bleu<br>
            Nombre de parts 12 pour 70$
        </p>
        <button class="choisir-btn">Choisir</button>
    </div>
    
    <div class="gateau-card">
      <img src="spider_cake.jpg" alt="Gâteau bleu">
      <h3>Gâteau bleu</h3>
      <p>
        Gâteau bleuâteau bleuâteau bleuâteau bleu<br>
        Nombre de parts 12 pour 70$
      </p>
      <button class="choisir-btn">Choisir</button>
    </div>

    <div class="gateau-card">
        <img src="lego_cake.jpg" alt="Gâteau bleu">
        <h3>Gâteau bleu</h3>
        <p>
          Gâteau bleuâteau bleuâteau bleuâteau bleu<br>
          Nombre de parts 12 pour 70$
        </p>
        <button class="choisir-btn">Choisir</button>
      </div>

</div>


  
  