<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="#">Accueil</a>
            <a href="#">A propos de nous</a>
            <a href="#">Contact</a>
        </div>
        <div class="navbar-right">
            <a href="#">Accueil</a>
            <a href="#">A propos de nous</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <!-- <app-connexion></app-connexion> -->
    <!-- <app-passer-commande></app-passer-commande> -->
    <app-modif-commande></app-modif-commande>          
</body>
