<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="#" style="text-decoration: none; color:#777;">
                <i class="pi pi-user" 
                style="font-size: 1.5rem; 
                margin-right: 8px;">
                </i>
                Nom de l'utilisateur
            </a>
            <a href="#">Accueil</a>
            <a href="#">Mes commandes</a>
        </div>
        <div class="navbar-right">
            <a href="#">A propos de nous</a>
            <a href="#">Contact</a>
            <a href="#">Déconnexion</a>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <app-accueil-client></app-accueil-client>  -->
    <!-- <app-connexion></app-connexion> -->
    <!-- <app-passer-commande></app-passer-commande> -->
    <!-- <app-modif-commande></app-modif-commande> -->
</body>
