<body>
    <header>
        <div class="logo">pw.<strong>cakes</strong></div>
        <nav>
            <ul>
                <li><a href="#">menu</a></li>
                <li><a href="#">passer une commande</a></li>
                <li><a href="#">voir mes commandes</a></li>
                <li><a href="#">à propos de nous</a></li>
            </ul>
        </nav>
        <div class="user-icon">
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
    <router-outlet></router-outlet>
    <!-- <app-accueil-client></app-accueil-client>  -->
    <!-- <app-connexion></app-connexion> -->
    <!-- <app-modif-commande></app-modif-commande> -->
</body>
