<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
          <a href="#">Accueil</a>
          <a href="#">A propos de nous</a>
          <a href="#">Contact</a>
        </div>
        <div class="navbar-right">
          <a href="#">Connexion</a>
          <a href="#">Inscription</a>
        </div>
      </div>
      <img src="PW_CAKES.png" alt="Logo de PW CAKES" class="logo-page-connexion">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Bienvenue</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Nom d'utilisateur" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Mot de passe" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <a class="btn btn-primary btn-large btn-block" href="#">Se connecter</a>
                <a class="login-link" href="#">Mot de passe oublié</a>
            </div>
        </div>
    </div>
</body>
</html>